@page "/Account/Manage/EnableAuthenticator"

<PageTitle>Configure authenticator app</PageTitle>

@if (recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@message"/>
}
else
{
    <StatusMessage Message="@message"/>
    <h3>Configure authenticator app</h3>
    <div>
        <p>To use an authenticator app go through the following steps:</p>
        <ol>
            <li>
                <p>
                    Download a two-factor authenticator app like Microsoft Authenticator for
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
                    Google Authenticator for
                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and
                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                </p>
            </li>
            <li>
                <p>Scan the QR Code or enter this key <kbd>@sharedKey</kbd> into your two factor authenticator app. Spaces and casing do not matter.</p>
                @if (!string.IsNullOrEmpty(qrCodeDataUri))
                {
                    <div style="margin: 16px 0;">
                        <img src="@qrCodeDataUri" alt="QR Code" style="width: 200px; height: 200px;" />
                    </div>
                }
            </li>
            <li>
                <p>
                    Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                    with a unique code. Enter the code in the confirmation box below.
                </p>
                <div class="card">
                    <EditForm Model="Input" method="post" FormName="send-code" OnValidSubmit="OnValidSubmitAsync">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="@Input.Code" class="form-label">Verification Code</label>
                            <InputText @bind-Value="Input.Code" name="Input.Code" class="form-input" placeholder="Enter the code" />
                        </div>
                        <button type="submit" class="btn-primary btn-block">Verify</button>
                    </EditForm>
                </div>
            </li>
        </ol>
    </div>
}
